.atc-default {
  color: $brand-default;
}

.atc-light {
  color: $brand-light;
}

.atc-mid {
  color: $brand-mid;
}

.atc-normal {
  color: $brand-normal;
}

.atc-dark {
  color: $brand-dark;
}

.atc-error {
  color: $brand-error;
}
