.atc-typo-hero {
  color: $text-dark;
  font-size: $text-hero;
  font-weight: bold;
  font-style: normal;
}

.atc-typo-title {
  color: $text-dark;
  font-size: $text-title;
  font-weight: bold;
  font-style: normal;
}

.atc-typo-subtitle {
  color: $text-dark;
  font-size: $text-subtitle;
  font-weight: normal;
  font-style: normal;
}

.atc-typo-quote {
  color: $text-dark;
  font-size: $text-subtitle;
  font-weight: normal;
  font-style: italic;
}

.atc-typo-normal {
  color: $text-dark;
  font-size: $text-normal;
  font-weight: normal;
  font-style: normal;
}

.atc-typo-small {
  color: $text-light;
  font-size: $text-small;
  font-weight: normal;
  font-style: normal;
}

.atc-typo-placeholder {
  color: $text-light;
  font-size: $text-small;
  font-weight: normal;
  font-style: italic;
}
