.atc-typo {

  font-size: $text-normal;
  font-style: normal;
  font-weight: normal;

  &.hero {
    color: $text-dark;
    font-size: $text-hero;
    font-weight: bold;
  }

  &.title {
    color: $text-dark;
    font-size: $text-title;
    font-weight: bold;
  }

  &.subtitle {
    color: $text-dark;
    font-size: $text-subtitle;
    font-weight: normal;
  }

  &.quote {
    color: $text-dark;
    font-size: $text-subtitle;
    font-weight: normal;
    font-style: italic;
  }

  &.normal {
    color: $text-dark;
    font-size: $text-normal;
  }

  &.small {
    color: $text-light;
    font-size: $text-small;
  }

  &.placeholder {
    color: $text-light;
    font-size: $text-small;
    font-style: italic;
  }
}
